
    <section class="seasons-show-<%= @season.name %>">

        <div class="seasons-show-header">
          <h3>Sautee Seattle - Seasonal Produce</h3>
          <h1><%= @season.name %></h1>
          <h4>This Seasons Produce!</h4>
        </div>

        <div>
            <ul class="season-ingredient-partial-grid">
                <% @season.ingredients.each do |ingredient| %>
                <%= render partial: "season_ingredient", locals: {ingredient: ingredient} %>
                <% end %>
            </ul>
        </div>

    </section>
