<section>
  <h1>login</h1>
    <%= form_tag '/login' do %>
      Username: <%= text_field_tag :username %>
      Password <%= password_field_tag :password %>
    <%= submit_tag 'Login' %>
    <% end %> <!-- end login form -->
</section>
