<section id="login-form">
  <h1>login</h1>
  <aside>
    <%= form_tag '/login' do %>
      <div class="label">
        <label>
          <h3>Username</h3>
        </label>
      </div>
      <div>
        <%= text_field_tag :username %>
      </div>
      <div class="label">
        <label>
          <h3>Password</h3>
        </label>
      </div>
      <div>
        <%= password_field_tag :password %>
      </div>
      <div>
        <%= submit_tag "Login" %>
      </div>
    <% end %>
  </aside>
</section>
