<section>
  <h1>Test html</h1>
  <nav>
    <span>fall</span>
    <span>winter</span>
    <span>spring</span>
    <span>summer</span>
  </nav>
    <aside class="">
      <img src="http://via.placeholder.com/350x150" alt="">
    </aside>
    <aside class="left-content">
      <p>Etiam nec metus lectus. Vivamus accumsan velit eget eleifend elementum. Aliquam sapien magna, finibus in tristique et, luctus eget tellus. Aliquam congue pulvinar est sed ullamcorper. Vestibulum nec eros hendrerit, bibendum nulla at, rhoncus ipsum. Nulla eleifend risus nec urna aliquam rutrum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur eu urna ex. Phasellus consequat, lacus eu consectetur consequat, nibh elit convallis libero, quis ultrices nulla nisl in eros. Cras accumsan id tortor non porta. Nullam hendrerit varius varius. Etiam facilisis ex quam. Aliquam ultricies vestibulum varius. Mauris porttitor metus vel tempus scelerisque.</p>
      <img src="http://via.placeholder.com/100x100" alt="">
      <img src="http://via.placeholder.com/100x100" alt="">
      <img src="http://via.placeholder.com/100x100" alt="">
      <img src="http://via.placeholder.com/100x100" alt="">
    </aside>
    <aside class="right-content">
      <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur eu urna ex. Phasellus consequat, lacus eu consectetur consequat, nibh elit convallis libero, quis ultrices nulla nisl in eros. Cras accumsan id tortor non porta. Nullam hendrerit varius varius. Etiam facilisis ex quam. Aliquam ultricies vestibulum varius. Mauris porttitor metus vel tempus scelerisque</p>
      <ul>
        <li>Etiam facilisis ex quam</li>
        <li>Etiam facilisis ex quam</li>
        <li>Etiam facilisis ex quam</li>
        <li>Etiam facilisis ex quam</li>
        <li>Etiam facilisis ex quam</li>
      </ul>
    </aside>
</section>
