<section id="recipes-posts-index">
  <h1><%= @ingredient.name %></h1>
  <p>
    <%= @description %>
  </p>
  <aside class="recipe-list">
    <h2>Ch ch check it out!</h2>
    <div class="separator"></div>
      <ul>
        <% @ingredient.recipes.each do |recipe| %>
          <li>
            <%= link_to user_recipe_path(recipe.user, recipe) do %>
              <div>
                <%= recipe.title %>
              </div>
            <% end %>
          </li>
        <% end %>
      </ul>
  </aside>
</section>
