<section id="user-profile">
  <aside class="personal-bio">
    <img src="http://via.placeholder.com/250x250" alt="personal-bio" class="bio-img">
    <div class="text">
      <h2><%= @user.username %></h2>
      <p>
        <%= @user.bio %>
      </p>
    </div>
  </aside>

</section>
