<footer>
  <div class="footer-image">
    <%= image_tag "border-schmear.svg", height: 20%>
  </div>
  <p>Sautee'Seattle&copy;</p>
  <ul>
    <li><a target="_blank" href="https://github.com/BlaineA97">Blaine Anderson</a></li>
    <li><a target="_blank" href="https://github.com/Nickvanderen">Nick Van Deren</a></li>
    <li><a target="_blank" href="https://github.com/JSimoni42">John Simoni</a></li>
    <li><a target="_blank" href="https://github.com/Marloito">Marlo Ito</a></li>
    <li><a target="_blank" href="https://github.com/Mandil">Hassan Mandil</a></li>
  </ul>
</footer>
