<footer>
  <div class="footer-image">
    <%= image_tag "border-schmear.svg", height: 20%>
  </div>
  <p>Sautee'Seattle&copy;</p>
  <ul>
    <li>Blaine Anderson</li>
    <li>Nick Van Deren</li>
    <li>John Simoni</li>
    <li>Marlo Ito</li>
    <li>Hassan Mandil</li>
  </ul>
</footer>
