<% if current_page?(root_path) %>
  <article id="home-page">
    <h1 id="title-page-logo">Saute' Seattle</h1>
  </article><!-- end home page -->
  <section id="manifesto">
      <aside class="manifesto-header">
        <h2>“A thriving household depends on the use of seasonal produce and the application of common sense.”</h2>
        <h4>- Olivier de Serres (1539-1619)</h4>
      </aside>
      <aside class="left-content salad">
        <%= image_tag "veggies.jpg", class: "manifesto-img" %>
      </aside><!-- end manifesto header -->
      <aside class="right-content">
        <p>Here at Satuee' Seattle we strive to make it simple and easy to find out what is in season anytime &amp; anywhere! We work hard to bring you only the most up to date information at all times. The creators of Saute' Seattle are all foodies who absolutely love food, coffee, cake, pizza, dim sum and more! Eating seasonally grown produce helps farmers, markets, and your health! so muake sure you buy seasonally available produce whenever you have the chance.</p>

        <span> <a href="#top" class="title-back-top">back to top</a></span>
      </aside><!-- end manifesto header -->
  </section><!-- end manifesto -->
<% end %>
