<nav class="login-nav">
  <ul>
    <% unless session[:user_id] %>
      <li><%= link_to "login", login_path %></li>
      <li> <%= link_to "register", new_user_path %> </li>
    <% else %>
      <li> <%= button_to "logout", { action: 'destroy', controller: 'sessions' }, method: :delete %></li>
    <% end %>
  </ul>
</nav>
