.global-form-style {
  h1 {
    text-align: center;
    font-size: 2em;
  }
  aside {
    width: 60%;
    margin: auto;

    * {
      width: 100%;
    }

    .label {
      margin-top: 1.8em;
    }

    textarea {
      box-sizing: border-box;
      height: 15em;
      padding: 0.5em;
    }

    input {
      box-sizing: border-box;
      padding: 0.5em;
    }

    button {
      background-color: blue;
    }

    input[type='file'] {
      margin-top: .5em;
      background: var(--lalala);
      color: white;
      font-family: 'elliotsixregular';
      float: left;
      font-size: .8em;
      padding: .25em;

      &:hover {
        cursor: pointer;
      }
    }

    .file-button {
      margin-top: .5em;
      border: 3px white solid;
      background: var(--lalala);
      color: white;
      font-family: 'elliotsixregular';
      float: left;
      width: 300px;
      font-size: .8em;
      padding: .25em;
      padding-top: 0;
      z-index: 5;

      &:hover {
        cursor: pointer;
      }
    }

    #user-bio {
      padding-top: 1.5em;
    }

    input[type='submit'] {
      padding: .8em;
      margin-top: 1.8em;
      font-size: 1.25em;
      border: 3px white solid;
      background: var(--lalala);
      color: white;
      font-family: 'elliotsixregular';

      &:hover {
        cursor: pointer;
      }
    }
  }
}
