#ingredient-show {
  ul {
    margin-top: 10px;
    li {
      p {
        margin-top: 0px;
      }
    }
  }

  .top {
    .left-content img {
      border-radius: 50%;
      border: 5px black solid;
    }
  }

  .bottom .contribute span {
    display: block;
    text-align: center;
    border: medium black solid;
    margin-bottom: 10px;
  }

  a {
    color: black;
    text-decoration: none;
    padding: 2px;
  }

  .see-more {
    margin-top: 10px;
    display: inline-block;
  }

  .produce-info {
    h2 {
      margin-bottom: 0px;
    }
  }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  #ingredient-show .left-content, #ingredient-show .right-content {
    width: 100%;
  }
}
