#ingredient-show {
  ul {
    margin-top: 10px;

    li:hover {
      color: var(--green);
    }
  }

  h2 {
    font-size: 1.5em;
  }

  a {
    color: white;
    text-decoration: none;
    padding: 2px;

    &:hover {
      color: var(--green);
    }
  }

  .bottom .contribute span {
    display: block;
    text-align: center;
    border: medium white solid;
    margin-bottom: 10px;
  }

  .see-more {
    margin-top: 10px;
    display: inline-block;
  }

  .produce-info {
    h1 {
      margin-top: 30px;
      font-size: 2em;
    }
  }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  #ingredient-show .left-content, #ingredient-show .right-content {
    width: 100%;
  }
}
