h1.location-index-h1 {
  margin-top: 0;
  margin-bottom: 1.5em;
  font-size: 2em;
  text-align: center;
}

.address-map p, .title-posted p {
  margin: 0;
  margin-bottom: 1.25em;
}

.title-posted {
  /*float: left;*/
}

.location-all {
  width: 85%;
  margin: 0 auto;
}

.address-map .btn-show {
  text-decoration: none;
  color: forestgreen;
}

.posted-by {
  color: gold;
  text-decoration: none;
}

.address-map {
  text-align: right;
}
