header {
  --main-link-color: white;
  --main-nav-bg-color: #343a40;
  --main-nav-li-hover-bg-color: black;
}

header {
  line-height: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "logo season user";
  grid-gap: 5px;
  height: 40px;
}

header ul {
  display: grid;
  list-style:none;
}

header li {
  grid-row: 1;
  font-family: 'elliotsixregular';
}

header a {
  text-decoration: none;
  color: var(--main-link-color);
}

header a:link,
header a:visited {
  color: #fff;
}

header a:hover,
header a:focus {
  color: gray;
}

.welcome header {
  background-color: transparent;
}

header {
  background-color: var(--lalala);
}

nav {
  vertial-align: middle;
}

nav.logo-nav {
  grid-area: logo;
  text-align: left;
  font-size: 2em;
  padding-left: 0.5em;
  margin-top: 1em;
}

nav.seasons {
  grid-area: season;
  text-align: center;
  padding-left: 4em;
  width: 50%;
  margin-top: 2em;
}

nav.login-nav {
  grid-area: user;
  text-align: right;
  padding-right: 2.55em;
  margin-top: 2em;
}

.login-nav {
  text-align: center;
}

.season a {
  display: block;
}

.seasons a:link,
.seasons a:visited {
  color: #fff
}

.seasons a:hover,
.seasons a:focus {
  transition: .2s;
  font-size: 1.75em;
}

span a {
  font-family: 'elliotsixregular';
  color: #fff
}

input {
  font-family: 'arapeyregular';
  font-size: 1.2em;
}

.login-nav #logout {
  font-family: 'elliotsixregular';
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 1em;
}
