header {
  --main-link-color: white;
  --main-nav-bg-color: #343a40;
  --main-nav-li-hover-bg-color: black;
}
header{
  line-height: 50px;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr
}
header ul{
  display: grid;
  list-style:none;
}
header li{
  grid-row: 1;
  font-family: 'elliotsixregular';
}
header a{
  text-decoration: none;
  color: var(--main-link-color);
}
header h1{
  margin: 0;
}
header h1 span{
  color: lime;
}

.welcome header {
  background-color: transparent;
}

header {
  background-color: var(--main-nav-li-hover-bg-color);
}
nav.seasons{
  margin: 0 auto;
  width: 50%;
}

.welcome{
  width: 100%;
  height: 100vh;
  background: url("main-wallpaper.jpg") no-repeat center center fixed;
  background-size: cover;
}

.login-nav #logout {
  font-family: 'elliotsixregular';
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 1em;
}
