.login-nav{
  height: 100px;
  border: thin black solid;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.login-nav ul {
  border: thin green solid;
  grid-column: 4;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style: none;
}
