header {
  --main-link-color: white;
  --main-nav-bg-color: #343a40;
  --main-nav-li-hover-bg-color: black;
}
header{
  line-height: 50px;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr
}
header ul{
  display: grid;
  list-style:none;
}
header li{
  grid-row: 1;
}
header a{
  text-decoration: none;
  color: white;
}
header h1{
  margin: 0;
}
header h1 span{
  color: lime;
}
nav.seasons{
  margin: 0 auto;
  width: 50%;
}

.welcome{
  width: 100%;
  height: 100vh;
  background: url("main-wallpaper.jpg") no-repeat center center fixed;
  background-size: cover;
}
