#recipes-posts-index {
  text-align: center;

  h1 {
    font-size: 2.5em;
    margin-top: 3.5em;
  }
  
  .recipe-list {
    text-align: left;
    ul {
      list-style: none;
      li {
        margin-left: 0px;
        border: medium white solid;

        &:hover {
          border: medium green solid;
          color: green;
        }
      }
    }
  }
}
