#recipes-posts-index {
  text-align: center;
  .recipe-list {
    text-align: left;
    ul {
      list-style: none;
      li {
        margin-left: 0px;

        &:hover {
          border: medium green solid;
        }
      }
    }
  }
}
