div.seasons-main {
  --main-body-color: white;
}

main.home-page{
  color: var(--main-body-color);
  margin: 0 auto;
  margin-top: 100px;
  text-align: center;
  width: 60%;
  padding: 2em;
  background: rgba(76, 175, 80, 0.5);
  border-radius: 1em;
}

article#home-page h1 {
    margin: 0;
    font-size: 4em;
    padding-top: 5.75em;
    text-shadow: 5px 5px #1a1a1a;
}

.title-back-top {
  text-decoration: none;
  color: var(--main-body-color);
}

span a:hover {
  transition: 0.2s;
  color: grey;
}
