/* START Season Spring */
.seasons-show-Spring {
  background-color: Yellow;
  text-align: center;
}
/* END Season Spring */


/* START Season Summer */
.seasons-show-Summer {
  background-color: Red;
  text-align: center;
}
/* END Season Summer */


/* START Season Fall */
.seasons-show-Fall {
  background-color: Orange;
  text-align: center;
}
/* END Season Fall */


/* START Season Winter */
.seasons-show-Winter {
  background-color: Gray;
  text-align: center;
}
/* END Season Winter */


/* START Show Seasons */
.seasons-show-header p {
  padding: 0em 1.25em;
}

.seasons-show-header h2 {
  text-align: left;
  padding-left: 0.8em;
}

/* END Show Seasons */


/* START Partial _Season_Ingredient */
.season-ingredient-partial-grid {
  list-style-type: none;
  text-align: left;
}

.season-ingredient-partial-cell {
}
/* END Partial _Season_Ingredient */
