/* START Season Spring */
.seasons-show-Spring {
  background-color: Yellow;
}
/* END Season Spring */


/* START Season Summer */
.seasons-show-Summer {
  background-color: Red;
}
/* END Season Summer */


/* START Season Fall */
.seasons-show-Fall {
  background-color: Orange;
}
/* END Season Fall */


/* START Season Winter */
.seasons-show-Winter {
  background-color: Gray;
}
/* END Season Winter */
