/* START Season Spring */
.seasons-show-Spring {
  background-color: Yellow;
}
/* END Season Spring */


/* START Season Summer */
.seasons-show-Summer {
  background-color: Red;
}
/* END Season Summer */


/* START Season Fall */
.seasons-show-Fall {
  background-color: Orange;
}
/* END Season Fall */


/* START Season Winter */
.seasons-show-Winter {
  background-color: Gray;
}
/* END Season Winter */


/* START Partial _Season_Ingredient */
.season-ingredient-partial-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 25px;
  padding: 25px;
  border: 3px solid green;
}

.season-ingredient-partial-cell {
  padding: 10px;
  text-align: center;
  vertical-align: middle;
  border: 3px solid blue;
}
/* END Partial _Season_Ingredient */
