/* css document */
/* general styles */
body, body * {
  padding: 0;
  margin: 0;
}

body {
  line-height: 1.5em;
}

main, section, article, div, header, footer aside {
  border: 1px solid red;
}

main {
  width: 100%;
}

section {
  width: 52%;
  margin: 0 auto;
  overflow: hidden;
}

article {
  width: 100%;
  overflow: hidden;
}

aside {
  border: 1px solid red;
}

h1, h2 {
  margin: 1em 0em 1em 0em;
}

li {
  margin-left: 1.25em;
}

p {
  margin: 1.2em 0em 1.5em 0em;
}

/* end general styles */

.left-content {
  width: 48%;
  float: left;
}

.right-content {
  width: 48%;
  float: right;
}

footer {
  clear: both;
}
