/* css document */ /* general styles */

/* color palette */
:root {
  --green: #39b54a;
  --lalala: #1a1a1a;
  --summer: #8cc63f;
  --spring: #dc1e79;
  --winter: #29abe2;
  --fall: #f15a24;s
}


body, body * {
  padding: 0;
  margin: 0;
}

body {
  line-height: 1.5em;
  box-sizing: border-box;
  border: 25px solid #fff;
}

main, section, article, div, header, footer aside {
  border: 1px solid red;
}

main {
  width: 100%;
  background-color: var(--lalala);
  height: 100vh;
}

section {
  width: 52%;
  margin: 0 auto;
  overflow: hidden;
}

article {
  width: 100%;
  overflow: hidden;
}

aside {
  border: 1px solid red;
}

h1, h2 {
  margin: 1em 0em 1em 0em;
}

li {
  margin-left: 1.25em;
}

p {
  margin: 1.2em 0em 1.5em 0em;
}

/* end general styles */

.left-content {
  width: 48%;
  float: left;
}

.right-content {
  width: 48%;
  float: right;
}

footer {
  clear: both;
}
