/* RESPONSIVE TOGGLE MAIN MENU */

#nav-mobile {
	padding: 0.6250em 1.25rem;
	background-color: #333;
	color: #fff;
}

#nav-mobile a:link,
#nav-mobile a:visited {
	color: #ddd;
	text-decoration: none;
}
#nav-mobile a:hover,
#nav-mobile a:focus {
	color: #fff;
	text-decoration: none;
}

#nav-mobile ul {
	display: none;			/* nav list is closed on page load */
	list-style: none;
	margin: 0;
	padding: 0.6250em 0 0 0;
}

#toggle-list a {
	display: block;
	padding: 0.6250em 0.6250rem;
	border-top: 1px solid #666;
	font-size: 1.2em;
}

#toggle-icon {
	display: block;
	text-align: right;
}
