#user-profile {
  .top img {
    border-radius: 50%;
  }

  h2 {
    font-size: 1.75em;
  }

  h3 {
    font-size: 1.25em;
  }

  li, p {
    font-size: 1.2em;
    text-decoration: none;
    list-style: none;
  }

  a:link, a:visited {
    text-decoration: none;
    color: white;
  }

  a:hover, a:focus {
    text-decoration: none;
    color: gray;
  }

}
