.personal-bio {
  display: grid;
  grid-template-columns: 40% 60%;
}

.personal-bio .text {
  border: medium black solid;
  padding-left: 10px;
  padding-right: 5px;
  grid-column: 2;
}

.personal-bio img {
  border-radius: 150px;
  width: 250px;
  height: 250px;
  grid-column: 1;
}

.personal-content {
  border: medium black solid;
  display: grid;
  margin-top: 10px;
  grid-template-columns: 30% 65%;
}

.personal-content span{
  grid-column: 1;
}

.personal-content span a {
  display: inline-block;
  padding: 2px;
  border: medium black solid;
  margin-left: 5px;
  margin-top: 5px;
  color: black;
  text-decoration: none;
  font-size: 1.3em;
}

.personal-content p {
  grid-column: 2;
}
