<section>

  <% @ingredient.locations.each do |location| %>
  <div class="locations-index-all-locations">
      <h3><a href="#"><%= location.title %></a></h3>
      <p><%= location.body %></p>
      <p>Posted by:<%= location.user.username %></p>
  </div>
  <% end %>

</section>
